   body {
      background-color: #f2f2f2;
      font-family: Arial, sans-serif;
    }
    
    /* Estilos para la sección principal */
    .main-section {
      width: 80%;
      margin: 0 auto;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      padding: 20px;
      margin-top: -18rem;
    }
    
    /* Estilos para el título del juego */
    .game-title {
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    
    /* Estilos para la descripción del juego */
    .game-description {
      font-size: 18px;
      margin-bottom: 30px;
    }
    
    /* Estilos para el botón de inicio del juego */
    .start-button {
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      font-size: 18px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
    
    /* Estilos para el botón de inicio del juego en el hover */
    .start-button:hover {
      background-color: #0056b3;
    }
    .galeri{
        display: flex;
        height: 0px;
        gap: 2rem;
    }
    .galeri > div{
        flex: 10;
        border-radius: 1rem;
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto 50%;
        transition: all .7s cubic-bezier(.25, .4, .35, 1.4);
    }

    .galeri > div:hover{
        flex: 5;
    }