nav {
  width: 100vw;
  height: 10vh;
  background-color: #003566;
  display: flex;
  justify-content: space-between;

  .container-navbar-all {
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .list-navbar {
      width: 60%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      list-style: none;
    }
  }

  .link-nav {
    text-decoration: none;
    color: white;
  }

  .login-nav {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
