.slick-dots {
    bottom: 20px;
  }
  
  .slick-dots li button:before {
    font-size: 10px;
    color: #fff;
    opacity: 0.5;
  }
  
  .slick-dots li.slick-active button:before {
    opacity: 1;
  }
  
  .slick-prev,
  .slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
  }
  
  .slick-prev {
    left: 20px;
  }
  
  .slick-next {
    right: 20px;
  }
  
  img {
    width: 100%;
    height: auto;
  }